<template>
  <div class="container">
    <div class="board">
      <div class="textDisplay">
        <p>{{ text }}</p>
      </div>
      <div class="buttonWrap">
        <button
          v-for="(btn, index) in buttons"
          v-bind:key="index"
          v-on:click="buttonClick(index)"
          :disabled="disable"
        >
          {{ btn }}
        </button>
      </div>
      <div class="textDisplay restartButton" v-on:click="restart">
        <p>Restart</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameBoard",
  data() {
    return {
      buttons: {
        1: "",
        2: "",
        3: "",
        4: "",
        5: "",
        6: "",
        7: "",
        8: "",
        9: "",
      },
      text: "Player 1's turn",
      initialValue: "X",
      disable: false,
    };
  },
  methods: {
    buttonClick(index) {
      //when a button is filled
      if (this.buttons[index] !== "") return;

      //   when a button is empty
      if (this.initialValue === "X") {
        this.buttons[index] = this.initialValue;
        this.text = "Player 2's turn";
        this.initialValue = "O";
      } else {
        this.buttons[index] = this.initialValue;
        this.text = "Player 1's turn";
        this.initialValue = "X";
      }
    },

    //To check winner
    checkWinner(one, two, three) {
      if (
        this.buttons[one] === "X" &&
        this.buttons[two] === "X" &&
        this.buttons[three] === "X"
      ) {
        this.text = "Player 1 won";
        this.disable = true;
      } else if (
        this.buttons[one] === "O" &&
        this.buttons[two] === "O" &&
        this.buttons[three] === "O"
      ) {
        this.text = "Player 2 won";
        this.disable = true;
      }
    },

    // check if no winner
    noWinner(a, b, c, d, e, f, g, h, i) {
      if (
        this.buttons[a] !== "" &&
        this.buttons[b] !== "" &&
        this.buttons[c] !== "" &&
        this.buttons[d] !== "" &&
        this.buttons[e] !== "" &&
        this.buttons[f] !== "" &&
        this.buttons[g] !== "" &&
        this.buttons[h] !== "" &&
        this.buttons[i] !== ""
      ) {
        this.text = "No winner";
      }
    },
    restart() {
      (this.buttons = {
        1: "",
        2: "",
        3: "",
        4: "",
        5: "",
        6: "",
        7: "",
        8: "",
        9: "",
      }),
        (this.text = "Player 1's turn"),
        (this.initialValue = "X"),
        (this.disable = false);
    },
  },
  updated() {
    this.checkWinner(1, 2, 3);
    this.checkWinner(4, 5, 6);
    this.checkWinner(7, 8, 9);
    this.checkWinner(1, 4, 7);
    this.checkWinner(2, 5, 8);
    this.checkWinner(3, 6, 9);
    this.checkWinner(1, 5, 9);
    this.checkWinner(3, 5, 7);
    this.noWinner(1, 2, 3, 4, 5, 6, 7, 8, 9);
  },
};
</script>

<style scoped>
.container{
    padding: 10px;
}
.board {
  width: 25em;
  background: rgb(153, 116, 21);
}
@media (max-width: 425px) {
  .board {
    width: calc(100vw - 20px);
  }
}
.textDisplay {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 1.2em;
  font-weight: 600;
}
.buttonWrap {
  display: flex;
  flex-wrap: wrap;
}
button {
  width: calc(33.33%);
  height: 3em;
  cursor: pointer;
  font-weight: 600;
  font-size: 2em;
}
button:disabled{
    background: white;
    color: black;
}
.restartButton {
  cursor: pointer;
}
</style>