<template>
  <div id="app">
    <AppHeader msg="My TicTacToe Game" />
    <div class="gameBoardwrap">
      <GameBoard />
    </div>
  </div>
</template>

<script>
import AppHeader from "./components/AppHeader.vue";
import GameBoard from "./components/GameBoard.vue";

export default {
  name: "App",
  components: {
    AppHeader,
    GameBoard,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: radial-gradient(black, rgb(32, 13, 13), black);
}
.gameBoardwrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
* {
  margin: 0px;
  padding: 0px;
}
</style>
